  /*************************************************/
 /*********************LOAD************************/
/*************************************************/
#allPage {
    opacity: 0;
}
body, html {
    height: 100%;
    text-align: center;
}
body {
    background: linear-gradient(to right, #04040B, #000000, #65656D)!important;
}
#loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    border: 4px solid rgb(255, 255, 255);
    top: 50%;
    animation: loader 2s infinite ease;
}
#loaderInner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loaderInner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
  /*************************************************/
 /*********************HEAD************************/
/*************************************************/
* {
    /* cursor: none; */
}
html {
    /* cursor:none; */
}
body {
    margin: 0;
    padding: 0;
    color: aliceblue;
    background: linear-gradient(to right, #04040B, #000000, #65656D)!important;
    width: 100%;
    height: 100vh;
    overflow-y: visible;
    /* cursor: none; */
}
#header {
    width: 100%;
    height: 15%;
    font-family: Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    position: fixed;
}
.topCol {
    width: 100%;
    position: fixed;
    text-align: center;
    align-items: center;
    margin: auto;
}
  /*************************************************/
 /*********************MENU************************/
/*************************************************/
ul {
    list-style-type:none;
}
li {
    float: left;
    padding: 50px 75px;
    opacity: 0.6;
    transition: 0.3s;
    /* cursor:none; */
}
li:hover {
    /* background-image: url(image/main-menu-stroke.svg); */
    background-repeat: no-repeat;
    opacity: 1;
    /* cursor: none; */
}
a {
    text-decoration:none;
    color: aliceblue;
    /* cursor: none; */
}
#logo {
    height: 130px;
    width: 310px;
    float: left;
}
  /*************************************************/
 /*********************LANG************************/
/*************************************************/
#lang {
    float: right;
    padding: 40px 10px;
    font-family: Montserrat, Arial, sans-serif;
    text-transform: uppercase;
}
#langBut, #en, #ru, #de {
    font-family: Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    background: #00000000;
    border: none;
}
#langBut {
    font-size: 15px;
}
#en, #ru, #de {
    padding: 7px 11px;
}
  /*************************************************/
 /*******************CURSOR************************/
/*************************************************/
#cursor {
    z-index: 999;
    position: fixed;
    background:  radial-gradient(circle, rgb(215 47 30) 0%, rgb(195 31 31) 100%);
    /* background: radial-gradient(circle, rgba(119,8,255,1) 0%, rgba(255,255,255,1) 100%); */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    animation: colors 5s infinite;
    transform: translate(-50%, -50%);
    display: none;
    animation: colors 5s infinite;
    transform: translate(-50%, -50%);
}
@keyframes colors {
    0% {
        filter: hue-rotate(0deg);
    }100% {
        filter: hue-rotate(360deg);
    }
}

/* #cursor:before {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(98,70,166,1) 35%, rgba(0,212,255,1) 100%);
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
} */


  /*************************************************/
 /**********************MID************************/
/*************************************************/
p {
  position: absolute;
  top: 28%;
  font-size: 60px;
  font-family: fangsong;
  width: 80%;
}
#fs {
  position: absolute;
  letter-spacing: -3px;
  animation: strelka 6s;
  left: 69%;
}
#cs {
  position: absolute;
  left: 72.5%;
  animation: strelka2 6s;
}
/* #fs:hover {
  left: 73%;
}
#cs:hover {
  animation: strelka4 4s;
} */
@keyframes strelka {
  0% {left: 0px;}
  25% {left: 69%;}
  50% {left: 65%;}
  75% {left: 70%;}
  100% {left: 69%;}
}
@keyframes strelka2 {
  from {left: 0px;}
  to {left: 72.5%;}
}

h1 {
    font-family: 'kelson-sans-bold', sans-serif;
    text-transform: uppercase;
    font-size: 100px;
    position: absolute;
    top: 40%;
    left: 50%;
    animation: mymove 5s;
    text-shadow: 5px 0px 11px rgb(255 255 255 / 10%), 10px 9px 0px rgb(0 0 0 / 0%), 6px 12px 0px rgb(0 0 0 / 5%);
}
span {
    animation-timing-function: ease;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 50%;}
}
#img1 {
  width: 70%;
  position: absolute;
  left: 7%;
  top: 23%;
  animation: think 5s;
  animation-timing-function: ease;
}
@keyframes think {
  from {
    left: 0px;}
  to {
    left: 7%;}
}
  /*************************************************/
 /**********************RESP***********************/
/*************************************************/



@media screen and (max-width: 1060px) {
  #lang {
    display: none;
  }
  li {
    display: none;
  }
  li:hover {
    display: none;
  }
  #logo {
    float: left;
  }
  #img{
    position: fixed;
    left: 15%;
  }
  p {
    position: absolute;
    top: 66%;
    font-size: 60px;
    font-family: fangsong;
    width: 80%;
  }
  .show{
    display: none;
  }
  /***************Menu size >1000******************/
  .menuCont {
    display: block;
    cursor: pointer;
    float: right;
    padding: 30px;
  }
  .topCol{
    position: relative;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  h1 {
    font-size: 80px;
    top: 40%;
    left: 28%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1060px) {
  #lang {
    padding: 20px 3px;
    font-size: 15px;
  }
  li {
    padding: 30px 12px;
    font-size: 15px;
    background-image: none;
    /* cursor: none; */
  }
  #langBut {
      font-size: 14px;
  }
  #en, #ru, #de {
    padding: 7px 0px;
  }
  #logo {
    height: 96px;
    width: 260px;
  }
  h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 1250px) and (min-width: 1200px) {
  #lang {
    padding: 20px 0px;
  }
  li {
    padding: 30px 10px;
    /* cursor: none; */
  } 
  h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 1320px) and (min-width: 1250px) {
  #header {
    width: 100%;
    height: 15%;
  }
  .topCol {
    width: 100%;
  }
  li {
    padding: 30px 20px;
  }
  #lang {
    padding: 20px 5px;
  }
  #logo {
    height: 110px;
    width: 310px;
  }
  h1 {
    font-size: 80px;
  }
  #en, #ru, #de {
    padding: 6px 7px;
  }
}
@media screen and (max-width: 1400px) and (min-width: 1320px) {
  #lang {
    padding: 40px 0px;
  }
  li {
    padding: 49px 25px;
    /* cursor: none; */
  } 
}
@media screen and (max-width: 1600px) and (min-width: 1400px) {
  #lang {
    padding: 40px 10px;
  }
  li {
    padding: 50px 30px;
    /* cursor: none; */
  }
}
@media screen and (max-width: 1910px) and (min-width: 1600px) {
  #lang {
    padding: 40px 10px;
  }
  li {
    padding: 50px 60px;
    /* cursor: none; */
  }
}
